<div class="breadcrum_bg"></div>
<section class="reset-password">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container" [formGroup]="passwordForm" novalidate (submit)="resetPassword()">
                    <fieldset>
                        <div class="text-center">
                            <h5> {{'Reset password' | translate}} </h5>
                            <p class="dark_color"> {{'Enter the new password' | translate}} </p>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" [placeholder]="'Code' | translate"
                                formControlName="passwordResetToken">
                            <i class="flaticon-checked"></i>
                            <div class="form-control-feedback"
                                *ngIf="((passwordForm.get('passwordResetToken').touched) && (passwordForm.get('passwordResetToken').invalid))">
                                <span class="d-block" *ngIf="passwordForm.get('passwordResetToken').errors.required"
                                    class="text-danger">
                                    {{ 'This field is requird' | translate }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" [placeholder]="'Password' | translate"
                                formControlName="password">
                            <i class="flaticon-padlock"></i>
                            <div class="form-control-feedback"
                                *ngIf="((passwordForm.get('password').touched) && (passwordForm.get('password').invalid))">
                                <span class="d-block" *ngIf="passwordForm.get('password').errors.required"
                                    class="text-danger">
                                    {{ 'This field is requird' | translate }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn myBtn"> {{'Submit' | translate}} </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>