<div class="notifications">
    <div class="container">
        <div class="text-left ptb-15">
            <h3> {{'Notifications' | translate}} </h3>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="notification text-left">
                    <strong> Title </strong>
                    <p> Notification body </p>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
            <div class="col-12">
                <div class="notification text-left">
                    <strong> Title </strong>
                    <p> Notification body </p>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
            <div class="col-12">
                <div class="notification text-left">
                    <strong> Title </strong>
                    <p> Notification body </p>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
            <div class="col-12">
                <div class="notification text-left">
                    <strong> Title </strong>
                    <p> Notification body </p>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
            <div class="col-12">
                <div class="notification text-left">
                    <strong> Title </strong>
                    <p> Notification body </p>
                    <i class="flaticon-bell"></i>
                </div>
            </div>
        </div>
    </div>
</div>