<div class="notifications" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="onScroll()">
    <div class="container">
        <div class="text-left ptb-15 d-flex align-items-center justify-content-between">
            <h3 class="m-0"> {{'Notifications' | translate}} </h3>
            <a href="javascript:void(0)" class="text-secondary" (click)="markAllAsRead()"> {{ 'Mark all read' | translate }} </a>
        </div>

        <div class="row">
            <div class="col-12" *ngFor="let notification of notifications">
                <div class="notification text-left">
                    <strong> {{notification.title}} </strong>
                    <p> {{ notification.body }} </p>
                    <i class="flaticon-bell"></i>
                    <em>
                        {{ notification.createdAt | amTimeAgo }} </em>
                </div>
            </div>
        </div>
    </div>
</div>