<div class="notifications">
    <div class="container">
        <div class="text-left ptb-15">
            <h3> {{'Notifications' | translate}} </h3>
        </div>

        <div class="row">
            <div class="col-12" *ngFor="let notification of notifications">
                <div class="notification text-left">
                    <strong> {{notification.title}} </strong>
                    <p> {{ notification.body }} </p>
                    <i class="flaticon-bell"></i>
                    <em>
                        {{ notification.createdAt | amTimeAgo }} </em>
                </div>
            </div>
        </div>
    </div>
</div>