<div class="breadcrum_bg"></div>
<section class="profile">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container">
                    <fieldset>
                        <div class="text-center">
                            <h5> Account details </h5>
                            <p class="dark_color"> All personal information </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                            <i class="flaticon-user-1"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone number">
                            <i class="flaticon-phone-call"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                            <i class="flaticon-email"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Password">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm password">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <button type="submit" class="btn myBtn"> Save changes </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>