<div class="breadcrum_bg"></div>
<section class="signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container">
                    <fieldset>
                        <div class="text-center">
                            <h5> Create new account </h5>
                            <p class="dark_color"> Create a new account and start using
                                Broden </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                            <i class="flaticon-user-1"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone number">
                            <i class="flaticon-phone-call"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                            <i class="flaticon-email"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Password">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm password">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">
                                    <span class="d-inline-block"> I have read and agree </span> <a
                                        class="d-inline-block" href="#"> Terms & conditions </a>
                                </label>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <button type="submit" class="btn myBtn"> Create account </button>
                            </div>
                            <p> Have an account? </p>

                            <div class="form-group">
                                <a href="#" class="secondry btn myBtn"> Create account </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>