<div class="breadcrum_bg"></div>
<section class="signup" [hidden]="isCodeSent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container" [formGroup]="phoneFrom" novalidate (submit)="sendCode()">
                    <fieldset>
                        <div class="text-center">
                            <h5> {{'Create new account' | translate}} </h5>
                            <p class="dark_color">
                                {{'Create a new account and start using Broden' | translate}}
                            </p>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="mobilePhone" class="form-control"
                                [placeholder]="'Phone number' | translate" formControlName="phoneNumber">
                            <i class="flaticon-phone-call"></i>
                            <div class="form-control-feedback"
                                *ngIf="((phoneFrom.get('phoneNumber').touched) && (phoneFrom.get('phoneNumber').invalid))">
                                <span class="d-block" *ngIf="phoneFrom.get('phoneNumber').errors.required"
                                    class="text-danger">
                                    {{ 'This field is requird' | translate }}
                                </span>
                            </div>
                        </div>



                        <div class="form-group">
                            <div id="recaptcha-container"></div>
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <button type="submit" class="btn myBtn">
                                    {{'Submit' | translate}} </button>
                            </div>
                            <p> {{'Have an account?' | translate}} </p>

                            <div class="form-group">
                                <a [routerLink]="['/login']" class="secondry btn myBtn"> {{'Login' | translate}} </a>
                            </div>
                        </div>

                        <div *ngIf="confirmationResult">
                            <div class="form-group">
                                <input type="text" class="form-control" [placeholder]="'Code' | translate"
                                    formControlName="verificationCode">
                                <i class="flaticon-check-mark"></i>
                                <div class="form-control-feedback"
                                    *ngIf="((phoneFrom.get('verificationCode').touched) && (phoneFrom.get('verificationCode').invalid))">
                                    <span class="d-block" *ngIf="phoneFrom.get('verificationCode').errors.required"
                                        class="text-danger">
                                        {{ 'This field is requird' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="secondry btn myBtn" (click)="verifyLoginCode()">
                                    {{'Submit' | translate}} </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <section class="signup" *ngIf="isCodeSent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container" [formGroup]="registerForm" novalidate (submit)="createUser()">
                    <fieldset>
                        <div class="text-center">
                            <h5> {{'Confirm your phone' | translate}} </h5>
                            <p class="dark_color">
                                {{'Enter the sent code' | translate}}
                            </p>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" [placeholder]="'Phone number' | translate"
                                formControlName="phone">
                            <i class="flaticon-phone-call"></i>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" [placeholder]="'Password' | translate"
                                formControlName="password">
                            <i class="flaticon-padlock"></i>
                            <div class="form-control-feedback"
                                *ngIf="((registerForm.get('password').touched) && (registerForm.get('password').invalid))">
                                <span class="d-block" *ngIf="registerForm.get('password').errors.required"
                                    class="text-danger">
                                    {{ 'This field is requird' | translate }}
                                </span>
                                <span class="d-block" *ngIf="registerForm.get('password').errors.minlength"
                                    class="text-danger">
                                    {{ 'Password must be more than 8 characters' | translate }}
                                </span>
                                <span class="d-block" *ngIf="registerForm.get('password').errors.maxlength"
                                    class="text-danger">
                                    {{ 'Password must be less than 25 characters' | translate }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="terms" formControlName="terms">
                                <label class="custom-control-label" for="terms">
                                    <span class="d-inline-block"> {{'I have read and agree' | translate}} </span> <a
                                        class="d-inline-block" href="#"> {{'Terms & conditions' | translate}} </a>
                                </label>
                            </div>
                            <div class="form-control-feedback"
                                *ngIf="((registerForm.get('terms').touched) && (registerForm.get('terms').invalid))">
                                <span class="d-block" *ngIf="registerForm.get('terms').errors.required"
                                    class="text-danger">
                                    {{ 'This field is requird' | translate }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="secondry btn myBtn"> {{'Create account' | translate}} </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section> -->
