@media (max-width: 414px) {
  .breadcrum_bg {
    background-image: url("../imgs/breadcrumb_bg1.png");
  }
}
@media (max-width: 360px) {
  .scan_join a {
    width: 145px;
    height: 45px;
    padding-left: 45px;
  }

  .scan_join span {
    width: 45px;
    height: 45px;
  }
}
