@media (max-width: 414px) {
  .breadcrum_bg {
    background-image: url("../imgs/breadcrumb_bg1.png");
  }
  p {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .scan_join a {
    width: 135px;
    height: 45px;
    padding-left: 45px;
    font-size: 14px;
  }

  .scan_join span {
    width: 45px;
    height: 45px;
  }

  .scan_join em {
    width: 40px;
    height: 45px;
  }
  .one_item .image,
  .one_item .image img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 414px) {
  .have_caffee .corners {
    width: 100%;
  }
}
@media (min-width: 415px) {
  .have_caffee .corners {
    display: none;
  }
}
