<section class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <form [formGroup]="orderForm" novalidate (submit)="validateOrderForm()">
                    <div class="checkout_item" *ngFor="let method of methods">
                        <input type="radio" name="payment_id" formControlName="payment_id" [value]="method.id"
                            [id]="method.name + method.id">
                        <label [for]="method.name + method.id"> <img
                                [src]="imageBaseUrl + '/' + method.image?.for + '/' + method.image?.name"
                                [title]="method.image?.title">
                            <span> {{ method.name }} </span>
                        </label>
                    </div>
                    <div class="form-control-feedback"
                        *ngIf="((orderForm.get('payment_id').touched) && (orderForm.get('payment_id').invalid))">
                        <span class="d-block" *ngIf="orderForm.get('payment_id').errors.required" class="text-danger">
                            {{ 'This field is requird' | translate }}
                        </span>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="notes" rows="5"
                            [placeholder]="'Notes' | translate"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn myBtn"> {{'Submit order' | translate}} </button>
                    </div>
                </form>


                <!-- <div class="checkout_item">
                    <input type="radio" name="paymentMethod" id="visa">
                    <label for="visa"> <img src="./assets/imgs/vissa.png"> <span> {{ 'Visa/ Master' | translate
                            }} </span> </label>
                </div>

                <div class="checkout_item">
                    <input type="radio" name="paymentMethod" id="cash">
                    <label for="cash"> <img src="./assets/imgs/cash.jpg"> <span> {{ 'Cash' | translate }} </span>
                    </label>
                </div>

                <div class="checkout_item">
                    <input type="radio" name="paymentMethod" id="mada">
                    <label for="mada"> <img src="./assets/imgs/mada.png"> <span> {{ 'Mada' | translate }} </span>
                    </label>
                </div> -->
            </div>

            <!-- <div class="col-12">
                <form>
                    <div class="form-group">
                        <input type="text" id="cardNumber" name="cardNumber" class="form-control"
                            [placeholder]="'Card number' | translate">
                    </div>
                    <div class="form-group">
                        <input type="text" id="cardName" name="cardName" class="form-control"
                            [placeholder]="'Card owner' | translate">
                    </div>
                    <div class="row">
                        <div class="col-8 form-group">
                            <input type="text" id="date" name="date" class="form-control"
                                [placeholder]="'Card expiry date' | translate">
                        </div>
                        <div class="col-4 form-group">
                            <input type="text" id="date" name="date" class="form-control"
                                [placeholder]="'CVV' | translate">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn myBtn"> {{'Submit order' | translate}} </button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</section>