<header>
    <div class="container">
        <div class="row justify-content-between">
            <div class="logo_img">
                <a href="javascript:void(0)" (click)="toggleNav('open')"><img src="./assets/imgs/menu-right.svg"></a>
                <a [routerLink]="['/']"> <img src="./assets/imgs/logo.png" alt="Logo image"> </a>
            </div>
            <div class="cart_account">
                <ul class="d-flex">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/login']" *ngIf="!userData">
                            <i class="flaticon-user-1"></i>
                        </a>

                        <div class="btn-group" dropdown *ngIf="userData">
                            <a id="button-animated" dropdownToggle ria-controls="dropdown-animated">
                                <i class="flaticon-user-1"></i>
                            </a>
                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-animated">
                                <li role="menuitem">
                                    <a class="dropdown-item" [routerLink]="['/profile']">
                                        <i class="flaticon-user"></i>
                                        {{'My account' | translate}}</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/order/history']">
                                        <i class="flaticon-choices"></i>
                                        {{'Orders' | translate}}</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
                                        (click)="logout()">
                                        <i class="flaticon-logout"></i>
                                        {{ 'Logout' | translate }} </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a [routerLink]="['/cart']">
                            <span> {{cartCount}} </span>
                            <i class="flaticon-shopping-cart-1"></i>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/notifications']">
                            <i class="flaticon-bell"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row scan_join justify-content-center">
            <div class="header_link">
                <a [routerLink]="['/scan-code']"> <span> <i class="flaticon-qr-code-scan"></i>
                    </span> {{'Scan code' | translate}} </a>
            </div>
            <div class="header_link">
                <a href="https://brodone.net" target="_blank">
                    <span> <i class="flaticon-add"></i> </span> {{'Join with us' | translate}} </a>
            </div>
        </div>
    </div>
</header>

<div class="sidebar" [ngClass]="isOpen ? 'sidebar-open' : ''" (clickOutside)="onClickedOutside($event, sidebarFlag)">
    <div class="sidebar-header">
        <a href=""> <img src="./assets/imgs/logo.svg" alt="Logo image"> </a>
        <a href="javascript:void(0)" (click)="toggleNav('close')"> <i class="flaticon-cancel"></i> </a>
    </div>
    <div class="pr-3 pt-3 pl-3 pb-3">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" [placeholder]="'Search in resturant...' | translate">
                    <button type="submit"> <i class="flaticon-search"></i> </button>
                </div>
            </form>
        </div>
        <div class="widget-language mb-4">
            <ul>
                <li> <a [routerLink]="['/']" (click)="toggleNav('close')"> {{'Home' | translate}} </a> </li>
                <!-- <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/profile']">
                        {{'Profile' | translate}} </a> </li> -->
                <!-- <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/order/history']">
                        {{'Order history' | translate}} </a> </li>
                <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/order/tracking']">
                        {{'Order tracking' | translate}} </a> </li> -->
                <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/contact-us']">
                        {{'Join with us' | translate}} </a> </li>
                <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/privacy-policy']">
                        {{'Privacy policy' | translate}} </a>
                </li>
                <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/terms-conditions']">
                        {{'Terms & conditions' | translate}} </a>
                </li>
                <li routerLinkActive="active"> <a (click)="toggleNav('close')" [routerLink]="['/about-us']">
                        {{'About Brodone' | translate}} </a>
                </li>
            </ul>
        </div>

        <div class="language">
            <ul>
                <li [ngClass]="translate.currentLang == 'en' ? 'active' : ' '"> <a href="javascript:void(0)"
                        (click)="changeLang('en')">
                        {{'English' | translate}}</a>
                </li>
                <li [ngClass]="translate.currentLang == 'ar' ? 'active' : ' '"><a href="javascript:void(0)"
                        (click)="changeLang('ar')">
                        {{'Arabic' | translate}}
                    </a></li>
            </ul>
        </div>
    </div>
    <img class="my_circle" src="./assets/imgs/circle.png">
</div>