<header>
    <div class="container">
        <div class="row justify-content-between">
            <div class="logo_img">
                <a href="javascript:void(0)" (click)="toggleNav('open')"><img src="./assets/imgs/menu-right.svg"></a>
                <a href=""> <img src="./assets/imgs/logo.svg" alt="Logo image"> </a>
            </div>
            <div class="cart_account">
                <ul>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/login']">
                            <i class="flaticon-user-1"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> 2 </span>
                            <i class="flaticon-shopping-cart-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row scan_join justify-content-center">
            <div class="header_link">
                <a href="#"> <span> <i class="flaticon-qr-code-scan"></i> </span> Scan code </a>
            </div>
            <div class="header_link">
                <a href="#"> <span> <i class="flaticon-add"></i> </span> Join with us </a>
            </div>
        </div>
    </div>
</header>

<div class="sidebar" [ngClass]="isOpen ? 'sidebar-open' : ''" (clickOutside)="onClickedOutside($event, sidebarFlag)">
    <div class="sidebar-header">
        <a href=""> <img src="./assets/imgs/logo.svg" alt="Logo image"> </a>
        <a href="javascript:void(0)" (click)="toggleNav('close')"> <i class="flaticon-cancel"></i> </a>
    </div>
    <div class="pr-3 pt-3 pl-3 pb-3">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search in resturant...">
                    <button type="submit"> <i class="flaticon-search"></i> </button>
                </div>
            </form>
        </div>
        <div class="widget-language mb-4">
            <ul>
                <li> <a [routerLink]="['/']"> Home </a> </li>
                <li routerLinkActive="active"> <a [routerLink]="['/profile']">
                        Profile </a> </li>
                <li routerLinkActive="active"> <a [routerLink]="['/privacy-policy']">
                        Privacy & policy </a>
                </li>
                <li routerLinkActive="active"> <a [routerLink]="['/terms-conditions']">
                        Terms & conditions </a>
                </li>
                <li routerLinkActive="active"> <a [routerLink]="['/about-us']">
                        About Brodone </a>
                </li>
            </ul>
        </div>

        <div class="language">
            <ul>
                <li [ngClass]="translate.currentLang == 'en' ? 'active' : ' '"> <a href="javascript:void(0)"
                        (click)="changeLang('en')">
                        English</a>
                </li>
                <li [ngClass]="translate.currentLang == 'ar' ? 'active' : ' '"><a href="javascript:void(0)"
                        (click)="changeLang('ar')">
                        Arabic
                    </a></li>
            </ul>
        </div>
    </div>
    <img class="my_circle" src="./assets/imgs/circle.png">
</div>