<section class="meal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngIf="meal['images']?.length == 0" class="main_slider">
                    <div class="swiper-slide">
                        <img src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                    </div>
                </div>
                <div class="main_slider">
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of meal['images']">
                                <img [src]="imageBaseUrl + '/' + image.for + '/' + image.name"
                                    [alt]="'Meal image' | translate">
                            </div>
                            <!-- <div class="swiper-slide">
                                <img *ngIf="meal['images']?.length == 0"
                                    src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                            </div> -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="meal_info ptb-15">
                            <h5 *ngIf="translate.currentLang == 'ar'"> {{meal.name}} </h5>
                            <h5 *ngIf="translate.currentLang == 'en'"> {{meal.nameEn}} </h5>

                            <div class="price_calories d-flex justify-content-between align-items-center ptb-15">
                                <span class="price"> {{meal.price}} {{'SAR' | translate}} </span>
                                <span class="calory"> {{meal.preparing_time}} {{ 'minute' | translate}}
                                </span>
                            </div>
                            <a *ngIf="translate.currentLang == 'ar'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.name }} </a>
                            <a *ngIf="translate.currentLang == 'en'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.nameEn }} </a>
                        </div>
                        <p class="text-left" *ngIf="translate.currentLang == 'ar'" [innerHTML]="meal.ingrediants"></p>
                        <p class="text-left" *ngIf="translate.currentLang == 'en'" [innerHTML]="meal.ingrediantsEn"></p>
                    </div>

                    <div class="col-sm-6" *ngIf="meal['options']?.length > 0">
                        <div class="options">
                            <h5 class="mb-3 text-left"> {{ 'Another additions' | translate }} </h5>
                            <form>
                                <div class="custom-control custom-checkbox mb-3" *ngFor="let option of meal['options']">
                                    <input type="checkbox" class="custom-control-input" [id]="option.nameEn + option.id"
                                        [value]="option" (change)="onCheckChange($event,option)">
                                    <label class="custom-control-label" [for]="option.nameEn + option.id">
                                        <div>
                                            <img
                                                [src]="imageBaseUrl + '/' + option.image?.for + '/' + option.image?.name ">
                                            <span *ngIf="translate.currentLang == 'ar'" class="d-inline-block"> {{
                                                option.name }} </span>
                                            <span *ngIf="translate.currentLang == 'en'" class="d-inline-block"> {{
                                                option.nameEn }} </span>
                                            <em *ngIf="translate.currentLang == 'ar'" class="dark_color d-block"> {{
                                                option.description }} </em>
                                            <em *ngIf="translate.currentLang == 'en'" class="dark_color d-block"> {{
                                                option.descriptionEn }} </em>
                                        </div>
                                        <strong class="main_color"> {{option.price}} {{'SAR' | translate}} </strong>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="d-flex justify-content-center">
                            <div class="quantity mt-3">
                                <form>
                                    <em (click)="changeQuantity('+')"> + </em>
                                    <input class="form-control" placeholder="1" [id]="'quantity' + meal.id"
                                        [value]="meal.selectedQuantity" disabled>
                                    <em (click)="changeQuantity('-')"> - </em>
                                </form>
                            </div>
                        </div>

                        <div class="ptb-15">
                            <button type="button" class="myBtn secondy" (click)="addToCart(meal)">
                                {{'Add to cart' | translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>