<section class="meal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_slider">
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of meal['images']">
                                <img [src]="imageBaseUrl + '/' + image.for + '/' + image.name"
                                    [alt]="'Meal image' | translate">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="meal_info ptb-15">
                            <h5 *ngIf="translate.currentLang == 'ar'"> {{meal.name}} </h5>
                            <h5 *ngIf="translate.currentLang == 'en'"> {{meal.nameEn}} </h5>

                            <div class="price_calories d-flex justify-content-between align-items-center ptb-15">
                                <span class="price"> {{meal.price}} {{'SAR' | translate}} </span>
                                <!-- <span class="calory"> 580 {{'Calories' | translate}} </span> -->
                            </div>
                            <a *ngIf="translate.currentLang == 'ar'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.name }} </a>
                            <a *ngIf="translate.currentLang == 'en'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.nameEn }} </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="d-flex justify-content-center">
                            <div class="quantity mt-3">
                                <form>
                                    <em (click)="changeQuantity('+')"> + </em>
                                    <input class="form-control" placeholder="1" [id]="'quantity' + meal.id"
                                        [value]="meal.selectedQuantity" disabled>
                                    <em (click)="changeQuantity('-')"> - </em>
                                </form>
                            </div>
                        </div>

                        <div class="ptb-15">
                            <button type="button" class="myBtn secondy" (click)="addToCart(meal)">
                                {{'Add to cart' | translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>