<div class="breadcrum_bg"></div>
<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container">
                    <fieldset>
                        <div class="text-center">
                            <h5> Login </h5>
                            <p class="dark_color"> Log in to your account now and enjoy
                                With all the features </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                            <i class="flaticon-user-1"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm password">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">
                                    Rermember me
                                </label>
                            </div>

                            <a href="javascript: void(0)" (click)="openModal(template)"> Forgot password? </a>
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <button type="submit" class="btn myBtn"> Login </button>
                            </div>
                            <p> Don’t have an account? </p>

                            <div class="form-group">
                                <a [routerLink]="['/signup']" class="secondry btn myBtn"> Create account </a>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <ng-template #template>
                    <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true"> <i class="flaticon-cancel"></i> </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <h4> Reset password </h4>
                            <p> Enter the email to send the password recovery link </p>
                        </div>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                                <i class="flaticon-email"></i>
                            </div>

                            <div class="form-group text-center">
                                <button class="btn myBtn"> Send code </button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>