<div *ngIf="authService.mobilePhone">
    <div class="breadcrum_bg"></div>
    <section class="create-password">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form class="form_container" [formGroup]="registerForm" novalidate (submit)="createUser()">
                        <fieldset>
                            <div class="text-center">
                                <h5> {{'Create password' | translate}} </h5>
                                <p class="dark_color">
                                    {{'Compleate your registration and create password' | translate}}
                                </p>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" [placeholder]="'Phone number' | translate"
                                    formControlName="phone">
                                <i class="flaticon-phone-call"></i>
                            </div>

                            <div class="form-group">
                                <input type="password" id="password" class="form-control"
                                    [placeholder]="'Password' | translate" formControlName="password">
                                <i class="flaticon-padlock"></i>
                                <div class="form-control-feedback"
                                    *ngIf="((registerForm.get('password').touched) && (registerForm.get('password').invalid))">
                                    <span *ngIf="registerForm.get('password').errors.required" class="text-danger">
                                        {{ 'This field is requird' | translate }}
                                    </span>
                                    <span *ngIf="registerForm.get('password').errors.minlength" class="text-danger">
                                        {{ 'Password must be more than 8 characters' | translate }}
                                    </span>
                                    <span *ngIf="registerForm.get('password').errors.maxlength" class="text-danger">
                                        {{ 'Password must be less than 25 characters' | translate }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="password" id="cPassword" class="form-control"
                                    [placeholder]="'Confirm password' | translate" formControlName="cPassword">
                                <i class="flaticon-padlock"></i>
                                <div class="form-control-feedback"
                                    *ngIf="((registerForm.get('cPassword').touched) && (registerForm.get('cPassword').invalid))">
                                    <span *ngIf="registerForm.get('cPassword').errors.required" class="text-danger">
                                        {{ 'This field is requird' | translate }}
                                    </span>
                                </div>
                                <span class="text-danger"
                                    *ngIf="registerForm.get('password').value != registerForm.get('cPassword').value">
                                    {{ 'Enter the same password' | translate }}
                                </span>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="terms"
                                        formControlName="terms">
                                    <label class="custom-control-label" for="terms">
                                        <span class="d-inline-block"> {{'I have read and agree' | translate}} </span> <a
                                            class="d-inline-block" href="#"> {{'Terms & conditions' | translate}} </a>
                                    </label>
                                </div>
                                <div class="form-control-feedback"
                                    *ngIf="((registerForm.get('terms').touched) && (registerForm.get('terms').invalid))">
                                    <span class="d-block" *ngIf="registerForm.get('terms').errors.required"
                                        class="text-danger">
                                        {{ 'This field is requird' | translate }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="secondry btn myBtn"> {{'Create account' | translate}}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>