<div class="breadcrum_bg"></div>
<section class="create-password">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form class="form_container">
                    <fieldset>
                        <div class="text-center">
                            <h5> {{'Create password' | translate}} </h5>
                            <p class="dark_color">
                                {{'Compleate your registration and create password' | translate}}
                            </p>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" [placeholder]="'Password' | translate">
                            <i class="flaticon-padlock"></i>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" [placeholder]="'Confirm password' | translate">
                            <i class="flaticon-padlock"></i>
                        </div>
                        <div class="form-group text-center">
                            <a href="#" class="secondry btn myBtn"> {{'Submit' | translate}} </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>