<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <div class="image">
                    <img src="./assets/imgs/logo.svg" alt="Brodone image">
                </div>
                <div class="about_us mt-3">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s
                    </p>
                </div>
                <div class="social_links">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>