$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?5b693d1e430bf5808eff019d332ccb43") format("truetype"),
url("./flaticon.woff?5b693d1e430bf5808eff019d332ccb43") format("woff"),
url("./flaticon.woff2?5b693d1e430bf5808eff019d332ccb43") format("woff2"),
url("./flaticon.eot?5b693d1e430bf5808eff019d332ccb43#iefix") format("embedded-opentype"),
url("./flaticon.svg?5b693d1e430bf5808eff019d332ccb43#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "add-user": "\f101",
    "add": "\f102",
    "bag": "\f103",
    "cancel": "\f104",
    "choices": "\f105",
    "credit-cards-payment": "\f106",
    "customer": "\f107",
    "delivery": "\f108",
    "email": "\f109",
    "exit": "\f10a",
    "facebook": "\f10b",
    "fast": "\f10c",
    "heart-1": "\f10d",
    "heart": "\f10e",
    "instagram": "\f10f",
    "left-arrow": "\f110",
    "logout": "\f111",
    "loupe": "\f112",
    "menu": "\f113",
    "messenger-1": "\f114",
    "messenger": "\f115",
    "minus": "\f116",
    "open-box": "\f117",
    "padlock": "\f118",
    "phone-call": "\f119",
    "phone": "\f11a",
    "plus": "\f11b",
    "qr-code-scan": "\f11c",
    "remove": "\f11d",
    "right-arrow": "\f11e",
    "right": "\f11f",
    "rubbish-bin": "\f120",
    "sad": "\f121",
    "search": "\f122",
    "shopping-cart-1": "\f123",
    "shopping-cart": "\f124",
    "snapchat": "\f125",
    "star-1": "\f126",
    "star": "\f127",
    "twitter": "\f128",
    "upload": "\f129",
    "user-1": "\f12a",
    "user-2": "\f12b",
    "user": "\f12c",
    "view": "\f12d",
    "visibility": "\f12e",
    "whatsapp": "\f12f",
    "youtube": "\f130",
);

.flaticon-add-user:before {
    content: map-get($flaticon-map, "add-user");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-bag:before {
    content: map-get($flaticon-map, "bag");
}
.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-choices:before {
    content: map-get($flaticon-map, "choices");
}
.flaticon-credit-cards-payment:before {
    content: map-get($flaticon-map, "credit-cards-payment");
}
.flaticon-customer:before {
    content: map-get($flaticon-map, "customer");
}
.flaticon-delivery:before {
    content: map-get($flaticon-map, "delivery");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-exit:before {
    content: map-get($flaticon-map, "exit");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-fast:before {
    content: map-get($flaticon-map, "fast");
}
.flaticon-heart-1:before {
    content: map-get($flaticon-map, "heart-1");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-logout:before {
    content: map-get($flaticon-map, "logout");
}
.flaticon-loupe:before {
    content: map-get($flaticon-map, "loupe");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-messenger-1:before {
    content: map-get($flaticon-map, "messenger-1");
}
.flaticon-messenger:before {
    content: map-get($flaticon-map, "messenger");
}
.flaticon-minus:before {
    content: map-get($flaticon-map, "minus");
}
.flaticon-open-box:before {
    content: map-get($flaticon-map, "open-box");
}
.flaticon-padlock:before {
    content: map-get($flaticon-map, "padlock");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-phone:before {
    content: map-get($flaticon-map, "phone");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-qr-code-scan:before {
    content: map-get($flaticon-map, "qr-code-scan");
}
.flaticon-remove:before {
    content: map-get($flaticon-map, "remove");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right:before {
    content: map-get($flaticon-map, "right");
}
.flaticon-rubbish-bin:before {
    content: map-get($flaticon-map, "rubbish-bin");
}
.flaticon-sad:before {
    content: map-get($flaticon-map, "sad");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon-map, "shopping-cart-1");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon-map, "shopping-cart");
}
.flaticon-snapchat:before {
    content: map-get($flaticon-map, "snapchat");
}
.flaticon-star-1:before {
    content: map-get($flaticon-map, "star-1");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-user-1:before {
    content: map-get($flaticon-map, "user-1");
}
.flaticon-user-2:before {
    content: map-get($flaticon-map, "user-2");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-view:before {
    content: map-get($flaticon-map, "view");
}
.flaticon-visibility:before {
    content: map-get($flaticon-map, "visibility");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
