$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a6ba2fcd01a2ed5b85209b16bde5b90d") format("truetype"),
url("./flaticon.woff?a6ba2fcd01a2ed5b85209b16bde5b90d") format("woff"),
url("./flaticon.woff2?a6ba2fcd01a2ed5b85209b16bde5b90d") format("woff2"),
url("./flaticon.eot?a6ba2fcd01a2ed5b85209b16bde5b90d#iefix") format("embedded-opentype"),
url("./flaticon.svg?a6ba2fcd01a2ed5b85209b16bde5b90d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "add-user": "\f101",
    "add": "\f102",
    "atm": "\f103",
    "bag": "\f104",
    "cancel": "\f105",
    "check-mark": "\f106",
    "checked-1": "\f107",
    "checked": "\f108",
    "choices": "\f109",
    "credit-card": "\f10a",
    "credit-cards-payment": "\f10b",
    "customer": "\f10c",
    "delivery": "\f10d",
    "edit": "\f10e",
    "email": "\f10f",
    "ewe": "\f110",
    "exit": "\f111",
    "facebook": "\f112",
    "fast": "\f113",
    "finance": "\f114",
    "heart-1": "\f115",
    "heart": "\f116",
    "instagram": "\f117",
    "knife": "\f118",
    "left-arrow": "\f119",
    "like": "\f11a",
    "logout": "\f11b",
    "loupe": "\f11c",
    "menu": "\f11d",
    "messenger-1": "\f11e",
    "messenger": "\f11f",
    "minus": "\f120",
    "open-box": "\f121",
    "padlock": "\f122",
    "phone-call": "\f123",
    "phone": "\f124",
    "plus": "\f125",
    "qr-code-scan": "\f126",
    "refresh": "\f127",
    "remove": "\f128",
    "right-arrow": "\f129",
    "right": "\f12a",
    "rubbish-bin": "\f12b",
    "sad": "\f12c",
    "search": "\f12d",
    "shopping-cart-1": "\f12e",
    "shopping-cart": "\f12f",
    "snapchat": "\f130",
    "star-1": "\f131",
    "star": "\f132",
    "symbols": "\f133",
    "twitter": "\f134",
    "upload": "\f135",
    "user-1": "\f136",
    "user-2": "\f137",
    "user": "\f138",
    "view": "\f139",
    "visibility": "\f13a",
    "whatsapp": "\f13b",
    "youtube": "\f13c",
);

.flaticon-add-user:before {
    content: map-get($flaticon-map, "add-user");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-atm:before {
    content: map-get($flaticon-map, "atm");
}
.flaticon-bag:before {
    content: map-get($flaticon-map, "bag");
}
.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-check-mark:before {
    content: map-get($flaticon-map, "check-mark");
}
.flaticon-checked-1:before {
    content: map-get($flaticon-map, "checked-1");
}
.flaticon-checked:before {
    content: map-get($flaticon-map, "checked");
}
.flaticon-choices:before {
    content: map-get($flaticon-map, "choices");
}
.flaticon-credit-card:before {
    content: map-get($flaticon-map, "credit-card");
}
.flaticon-credit-cards-payment:before {
    content: map-get($flaticon-map, "credit-cards-payment");
}
.flaticon-customer:before {
    content: map-get($flaticon-map, "customer");
}
.flaticon-delivery:before {
    content: map-get($flaticon-map, "delivery");
}
.flaticon-edit:before {
    content: map-get($flaticon-map, "edit");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-ewe:before {
    content: map-get($flaticon-map, "ewe");
}
.flaticon-exit:before {
    content: map-get($flaticon-map, "exit");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-fast:before {
    content: map-get($flaticon-map, "fast");
}
.flaticon-finance:before {
    content: map-get($flaticon-map, "finance");
}
.flaticon-heart-1:before {
    content: map-get($flaticon-map, "heart-1");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-knife:before {
    content: map-get($flaticon-map, "knife");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-like:before {
    content: map-get($flaticon-map, "like");
}
.flaticon-logout:before {
    content: map-get($flaticon-map, "logout");
}
.flaticon-loupe:before {
    content: map-get($flaticon-map, "loupe");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-messenger-1:before {
    content: map-get($flaticon-map, "messenger-1");
}
.flaticon-messenger:before {
    content: map-get($flaticon-map, "messenger");
}
.flaticon-minus:before {
    content: map-get($flaticon-map, "minus");
}
.flaticon-open-box:before {
    content: map-get($flaticon-map, "open-box");
}
.flaticon-padlock:before {
    content: map-get($flaticon-map, "padlock");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-phone:before {
    content: map-get($flaticon-map, "phone");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-qr-code-scan:before {
    content: map-get($flaticon-map, "qr-code-scan");
}
.flaticon-refresh:before {
    content: map-get($flaticon-map, "refresh");
}
.flaticon-remove:before {
    content: map-get($flaticon-map, "remove");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right:before {
    content: map-get($flaticon-map, "right");
}
.flaticon-rubbish-bin:before {
    content: map-get($flaticon-map, "rubbish-bin");
}
.flaticon-sad:before {
    content: map-get($flaticon-map, "sad");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon-map, "shopping-cart-1");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon-map, "shopping-cart");
}
.flaticon-snapchat:before {
    content: map-get($flaticon-map, "snapchat");
}
.flaticon-star-1:before {
    content: map-get($flaticon-map, "star-1");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-symbols:before {
    content: map-get($flaticon-map, "symbols");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-user-1:before {
    content: map-get($flaticon-map, "user-1");
}
.flaticon-user-2:before {
    content: map-get($flaticon-map, "user-2");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-view:before {
    content: map-get($flaticon-map, "view");
}
.flaticon-visibility:before {
    content: map-get($flaticon-map, "visibility");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
