@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?88c4529be5c12da098fae81806f37cc6") format("truetype"),
    url("./flaticon.woff?88c4529be5c12da098fae81806f37cc6") format("woff"),
    url("./flaticon.woff2?88c4529be5c12da098fae81806f37cc6") format("woff2"),
    url("./flaticon.eot?88c4529be5c12da098fae81806f37cc6#iefix")
      format("embedded-opentype"),
    url("./flaticon.svg?88c4529be5c12da098fae81806f37cc6#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.flaticon-bag:before {
  content: "\f101";
}
.flaticon-heart:before {
  content: "\f102";
}
.flaticon-heart-1:before {
  content: "\f103";
}
.flaticon-user:before {
  content: "\f104";
}
.flaticon-add-user:before {
  content: "\f105";
}
.flaticon-customer:before {
  content: "\f106";
}
.flaticon-shopping-cart:before {
  content: "\f107";
}
.flaticon-remove:before {
  content: "\f108";
}
.flaticon-rubbish-bin:before {
  content: "\f109";
}
.flaticon-minus:before {
  content: "\f10a";
}
.flaticon-user-1:before {
  content: "\f10b";
}
.flaticon-user-2:before {
  content: "\f10c";
}
.flaticon-search:before {
  content: "\f10d";
}
.flaticon-loupe:before {
  content: "\f10e";
}
.flaticon-menu:before {
  content: "\f10f";
}
.flaticon-cancel:before {
  content: "\f110";
}
.flaticon-facebook:before {
  content: "\f111";
}
.flaticon-messenger:before {
  content: "\f112";
}
.flaticon-instagram:before {
  content: "\f113";
}
.flaticon-snapchat:before {
  content: "\f114";
}
.flaticon-youtube:before {
  content: "\f115";
}
.flaticon-whatsapp:before {
  content: "\f116";
}
.flaticon-phone-call:before {
  content: "\f117";
}
.flaticon-phone:before {
  content: "\f118";
}
.flaticon-email:before {
  content: "\f119";
}
.flaticon-messenger-1:before {
  content: "\f11a";
}
.flaticon-fast:before {
  content: "\f11b";
}
.flaticon-delivery:before {
  content: "\f11c";
}
.flaticon-right-arrow:before {
  content: "\f11d";
}
.flaticon-left-arrow:before {
  content: "\f11e";
}
.flaticon-star:before {
  content: "\f11f";
}
.flaticon-star-1:before {
  content: "\f120";
}
.flaticon-choices:before {
  content: "\f121";
}
.flaticon-exit:before {
  content: "\f122";
}
.flaticon-logout:before {
  content: "\f123";
}
.flaticon-credit-cards-payment:before {
  content: "\f124";
}
.flaticon-sad:before {
  content: "\f125";
}
.flaticon-plus:before {
  content: "\f126";
}
.flaticon-open-box:before {
  content: "\f127";
}
.flaticon-upload:before {
  content: "\f128";
}
.flaticon-view:before {
  content: "\f129";
}
.flaticon-visibility:before {
  content: "\f12a";
}
.flaticon-qr-code-scan:before {
  content: "\f12b";
}
.flaticon-shopping-cart-1:before {
  content: "\f12c";
}
.flaticon-add:before {
  content: "\f12d";
}
.flaticon-right:before {
  content: "\f12e";
}
.flaticon-twitter:before {
  content: "\f12f";
}
.flaticon-padlock:before {
  content: "\f130";
}
.flaticon-edit:before {
  content: "\f131";
}
.flaticon-knife:before {
  content: "\f132";
}
.flaticon-ewe:before {
  content: "\f133";
}
.flaticon-finance:before {
  content: "\f134";
}
.flaticon-symbols:before {
  content: "\f135";
}
.flaticon-atm:before {
  content: "\f136";
}
.flaticon-checked:before {
  content: "\f137";
}
.flaticon-check-mark:before {
  content: "\f138";
}
.flaticon-refresh:before {
  content: "\f139";
}
.flaticon-checked-1:before {
  content: "\f13a";
}
.flaticon-like:before {
  content: "\f13b";
}
.flaticon-four-squares-button-of-view-options:before {
  content: "\f13c";
}
.flaticon-rectangles-couple:before {
  content: "\f13d";
}
.flaticon-tiktok:before {
  content: "\f13e";
}
.flaticon-snapchat-1:before {
  content: "\f13f";
}
.flaticon-clipboard:before {
  content: "\f140";
}
.flaticon-invoice:before {
  content: "\f141";
}
.flaticon-bell:before {
  content: "\f142";
}
