<div class="breadcrum_bg"></div>

<div class="form_container res_info">
    <div class="container">
        <fieldset>
            <div class="featured_item">
                <img *ngIf="resturant.image"
                    [src]="imageBaseURL + '/' + resturant.image?.for + '/' + resturant.image?.name "
                    [alt]="resturant.image?.alt" [title]="resturant.image?.description">
                <img *ngIf="!resturant.image" src="https://dummyimage.com/200x200/f0f0f0/f0f0f0">
                <h5> {{resturant.name}} </h5>
                <p> {{resturant.subtitle}} </p>
                <a href="#" class="myBtn dark">
                    <img src="./assets/imgs/chef.svg"> {{ 'Call garcoon' | translate }}
                </a>
            </div>
        </fieldset>
    </div>
</div>

<section class="resturant ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_slider">
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let banner of editedBanners; let i = index">
                                <div class="overlay"></div>
                                <div class="caption">
                                    <h5 class="mt-2" class="main_color"> {{ allBanners[i].title }} </h5>
                                    <p> {{ allBanners[i].description }} </p>
                                </div>
                                <img *ngIf="!banner" src="https://dummyimage.com/420x200/8a8a8a/8a8a8a"
                                    alt="Banner image">
                                <img *ngIf="banner" [src]="banner" alt="Banner image">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center ptb-15">
                    <h5> {{'Food menu' | translate}} </h5>
                    <p> {{'Choose the required meals, each according to his department' | translate}} </p>
                </div>
            </div>

            <div class="col-12 filter_items text-center mb-3">
                <a href="javascript:void(0)" (click)="changeMe('rectangles')" [ngClass]="{'active': isRectangles}">
                    <i class="flaticon-rectangles-couple"></i>
                </a>
                <a href="javascript:void(0)" (click)="changeMe('squares')" [ngClass]="{'active': isSquares}">
                    <i class="flaticon-four-squares-button-of-view-options"></i>
                </a>
            </div>

            <div class="col-12">
                <div class="filter">
                    <div class="swiper-container" [swiper]="filterConfig">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <input type="radio" name="filter" id="filter_item1" (change)="onCatChanges('')">
                                <label for="filter_item1"> {{ 'All meals' | translate }} </label>
                            </div>

                            <div class="swiper-slide" *ngFor="let cat of categories">
                                <input type="radio" name="filter" [id]="cat.nameEn + cat.id" [value]="cat.id"
                                    (change)="onCatChanges($event)">
                                <label *ngIf="translate.currentLang == 'ar'" [for]="cat.name + cat.id"> {{cat.name}}
                                </label>
                                <label *ngIf="translate.currentLang == 'en'" [for]="cat.nameEn + cat.id"> {{cat.nameEn}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="filter">
                    <div class="swiper-container" [swiper]="filterConfig">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let subcat of subCats">
                                <input type="radio" name="filter" [id]="subcat.name + subcat.id" [value]="subcat.id"
                                    (change)="onSubCatChanges($event)">
                                <label *ngIf="translate.currentLang == 'ar'" [for]="subcat.name + subcat.id">
                                    {{subcat.name}}
                                </label>
                                <label *ngIf="translate.currentLang == 'en'" [for]="subcat.nameEn + subcat.id">
                                    {{subcat.nameEn}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row meals mt-3" *ngIf="isSquares">
            <div class="col-6" *ngFor="let meal of meals; let i = index">
                <div class="featured_item">
                    <div class="image">
                        <a href="#"> <i class="flaticon-heart"></i> </a>
                        <img *ngIf="!meal.images[0]" src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                        <img *ngIf="meal.images[0]"
                            [src]="imageBaseURL + '/' + meal.images[0]?.for + '/' + meal.images[0]?.name "
                            [alt]="meal.images[0]?.alt" [title]="meal.images[0]?.description">
                    </div>
                    <h5 class="mt-2">
                        <a *ngIf="translate.currentLang == 'ar'" [routerLink]="['/resturant/meal-details/'+ meal.id]">
                            {{ meal.name }} </a>
                        <a *ngIf="translate.currentLang == 'en'" [routerLink]="['/resturant/meal-details/'+ meal.id]">
                            {{ meal.nameEn }} </a>
                    </h5>
                    <strong class="d-block dark_color"> {{ meal.price }} {{ 'SAR' | translate }} </strong>
                    <p *ngIf="translate.currentLang == 'ar'" [innerHTML]="meal.ingrediants?.slice(0,199)"></p>
                    <p *ngIf="translate.currentLang == 'en'" [innerHTML]="meal.ingrediantsEn?.slice(0,199)"></p>
                    <div class="scan_join">
                        <a class="bg_main_color" href="javascript:void(0)" (click)="addToCart(meal)"><em><i
                                    class="flaticon-shopping-cart-1"></i></em>
                            {{'Add to cart' | translate}}
                        </a>
                    </div>
                    <div class="quantity">
                        <form>
                            <em (click)="changeQuantity('+', i)"> + </em>
                            <input class="form-control" placeholder="1" [id]="'quantity' + meal.id"
                                [value]="meal.selectedQuantity" disabled>
                            <em (click)="changeQuantity('-', i)"> - </em>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row meals mt-3" *ngIf="isRectangles">
            <div class="col-12" *ngFor="let meal of meals; let i = index">
                <div class="one_item d-flex">
                    <div class="image">
                        <a href="#"> <i class="flaticon-heart"></i> </a>
                        <img *ngIf="!meal.images[0]" src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                        <img *ngIf="meal.images[0]"
                            [src]="imageBaseURL + '/' + meal.images[0]?.for + '/' + meal.images[0]?.name "
                            [alt]="meal.images[0]?.alt" [title]="meal.images[0]?.description">
                    </div>
                    <div>
                        <h5 class="mt-2">
                            <a *ngIf="translate.currentLang == 'ar'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.name }} </a>
                            <a *ngIf="translate.currentLang == 'en'"
                                [routerLink]="['/resturant/meal-details/'+ meal.id]">
                                {{ meal.nameEn }} </a>
                        </h5>
                        <strong class="d-block dark_color"> {{ meal.price }} {{ 'SAR' | translate }} </strong>
                        <p *ngIf="translate.currentLang == 'ar'" [innerHTML]="meal.ingrediants?.slice(0,199)"></p>
                        <p *ngIf="translate.currentLang == 'en'" [innerHTML]="meal.ingrediantsEn?.slice(0,199)"></p>
                        <div class="scan_join">
                            <a class="bg_main_color" href="javascript:void(0)" (click)="addToCart(meal)"><em><i
                                        class="flaticon-shopping-cart-1"></i></em>
                                {{'Add to cart' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="quantity">
                        <form>
                            <em (click)="changeQuantity('+', i)"> + </em>
                            <input class="form-control" placeholder="1" [id]="'quantity' + meal.id"
                                [value]="meal.selectedQuantity" disabled>
                            <em (click)="changeQuantity('-', i)"> - </em>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart_details" *ngIf="totalPrice">
        <a [routerLink]="['/cart']" class="d-flex aligin-items-center justify-content-between">
            <strong> {{'Shopping cart' | translate}} </strong>
            <span> {{totalPrice}} {{ 'SAR' | translate }} </span>
        </a>
    </div>
</section>