<div class="breadcrum_bg"></div>

<div class="form_container res_info">
    <div class="container">
        <fieldset>
            <div class="featured_item">
                <img src="./assets/imgs/products/Albaik_logo.svg">
                <h5> Albaik resturant </h5>
                <p> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
                <a href="#" class="myBtn dark"> <img src="./assets/imgs/chef.svg"> {{ 'Call garcoon' | translate }} </a>
            </div>
        </fieldset>
    </div>
</div>

<section class="resturant ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_slider">
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="overlay"></div>
                                <div class="caption">
                                    <h5 class="mt-2" class="main_color"> Scan code and order now </h5>
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </div>
                                <img src="./assets/imgs/slide1.svg" alt="slide image">
                            </div>
                            <div class="swiper-slide">
                                <div class="overlay"></div>
                                <div class="caption">
                                    <h5 class="mt-2" class="main_color"> Scan code and order now </h5>
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </div>
                                <img src="./assets/imgs/slide1.svg" alt="slide image">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center ptb-20">
                        <h5> {{'Food menu' | translate}} </h5>
                        <p> {{'Choose the required meals, each according to his department' | translate}} </p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="filter">
                    <div class="swiper-container" [swiper]="filterConfig">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <input type="radio" name="filter" id="filter_item1">
                                <label for="filter_item1"> كل الوجبات </label>
                            </div>

                            <div class="swiper-slide">
                                <input type="radio" name="filter" id="filter_item2">
                                <label for="filter_item2"> السندوتشات </label>
                            </div>

                            <div class="swiper-slide">
                                <input type="radio" name="filter" id="filter_item3">
                                <label for="filter_item3"> الأطباق الرئيسية </label>
                            </div>

                            <div class="swiper-slide">
                                <input type="radio" name="filter" id="filter_item4">
                                <label for="filter_item4"> الإطباق الجانبية </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row meals mt-3">
            <div class="col-sm-6">
                <div class="featured_item">
                    <div class="image">
                        <a href="#"> <i class="flaticon-heart"></i> </a>
                        <img src="./assets/imgs/products/meat.svg">
                    </div>
                    <h5 class="mt-2"> <a [routerLink]="['/resturant/meal-details']"> باجيت الحلوم والمشروم </a> </h5>
                    <strong class="d-block dark_color"> 80 ر.س </strong>
                    <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها في هذا المكان و حجم و لون الخط </p>
                    <div class="scan_join">
                        <a class="bg_main_color" href="#"><em><i class="flaticon-shopping-cart-1"></i></em>
                            {{'Add to cart' | translate}}
                        </a>
                    </div>
                    <div class="quantity">
                        <form>
                            <em> + </em>
                            <input class="form-control" placeholder="1" id="quantity">
                            <em> - </em>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="featured_item">
                    <div class="image">
                        <a href="#"> <i class="flaticon-heart"></i> </a>
                        <img src="./assets/imgs/products/meat.svg">
                    </div>
                    <h5 class="mt-2"> <a [routerLink]="['/resturant/meal-details']"> باجيت الحلوم والمشروم </a> </h5>
                    <strong class="d-block dark_color"> 80 ر.س </strong>
                    <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها في هذا المكان و حجم و لون الخط </p>
                    <div class="scan_join">
                        <a class="bg_main_color" href="#"><em><i class="flaticon-shopping-cart-1"></i></em>
                            {{'Add to cart' | translate}}
                        </a>
                    </div>
                    <div class="quantity">
                        <form>
                            <em> + </em>
                            <input class="form-control" placeholder="1" id="quantity">
                            <em> - </em>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="featured_item">
                    <div class="image">
                        <a href="#"> <i class="flaticon-heart"></i> </a>
                        <img src="./assets/imgs/products/meat.svg">
                    </div>
                    <h5 class="mt-2"> <a [routerLink]="['/resturant/meal-details']"> باجيت الحلوم والمشروم </a> </h5>
                    <strong class="d-block dark_color"> 80 ر.س </strong>
                    <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها في هذا المكان و حجم و لون الخط </p>
                    <div class="scan_join">
                        <a class="bg_main_color" href="#"><em><i class="flaticon-shopping-cart-1"></i></em>
                            {{'Add to cart' | translate}}
                        </a>
                    </div>
                    <div class="quantity">
                        <form>
                            <em> + </em>
                            <input class="form-control" placeholder="1" id="quantity">
                            <em> - </em>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>