<section class="table_modal" [ngClass]="translate.currentLang == 'ar'? 'arabicStyle': ' ' ">
    <div class="breadcrum_bg">
        <button type="button" (click)="bsModalRef.hide()" class="close"> <i class="flaticon-cancel"></i> </button>
    </div>
    <div class="modal-body text-center">

        <div class="image">
            <img *ngIf="table.resturant?.image"
                [src]="imageBaseURL + '/' + table.resturant?.image?.for + '/' + table.resturant?.image?.name "
                [alt]="table.resturant?.image?.alt" [title]="table.resturant?.image?.description">
            <img *ngIf="!table.resturant?.image" src="https://dummyimage.com/200x200/f0f0f0/f0f0f0">
        </div>

        <div class="content">
            <h5> {{table.resturant?.name}} </h5>
            <p class="dark_color"> {{table.resturant?.subtitle}} </p>
            <div class="table_no">
                <div class="table_image">
                    <img src="./assets/imgs/table.svg">
                </div>
                <div>
                    <span class="dark_color d-block"> {{'Table number' | translate}} </span>
                    <strong class="d-block"> {{table.tableNumber}} </strong>
                </div>
                <div>
                    <span class="dark_color d-block"> {{'Capacity' | translate}} </span>
                    <strong class="d-block"> {{table.capacity}} </strong>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between text-center mt-3 w-100">
            <a href="javascript:void(0)" (click)="callWaiter()" class="myBtn secondry"> {{'Call waiter' | translate}}
            </a>
            <a href="#" class="myBtn primary"> {{'Order now' | translate}} </a>
        </div>
    </div>
</section>