<section class="table_modal" [ngClass]="translate.currentLang == 'ar'? 'arabicStyle': ' ' ">
    <div class="breadcrum_bg">
        <button type="button" (click)="bsModalRef.hide()" class="close"> <i class="flaticon-cancel"></i> </button>
    </div>
    <div class="modal-body text-center">

        <div class="image">
            <img src="./assets/imgs/products/Albaik_logo.svg">
        </div>

        <div class="content">
            <h5> مطعم دجاج البيك </h5>
            <p class="dark_color"> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
            <div class="table_no">
                <div class="table_image">
                    <img src="./assets/imgs/table.svg">
                </div>
                <span class="dark_color d-block"> رقم المنضدة </span>
                <strong class="d-block"> 15 </strong>
            </div>
        </div>

        <div class="d-flex justify-content-between text-center mt-3 w-100">
            <a href="#" class="myBtn secondry"> Garcoon </a>
            <a href="#" class="myBtn primary"> Order now </a>
        </div>
    </div>
</section>