<section class="home">
    <div class="main_slider">
        <div class="swiper-container" [swiper]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let banner of editedBanner; let i = index">
                    <div class="overlay"></div>
                    <div class="caption">
                        <h5 class="mt-2" class="main_color"> {{ allBanners[i].title }} </h5>
                        <p> {{ allBanners[i].description }} </p>
                    </div>
                    <img *ngIf="!banner" src="https://dummyimage.com/420x200/8a8a8a/8a8a8a" alt="Banner image">
                    <img *ngIf="banner" [src]="banner" alt="Banner image">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="featured_resturant ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-12 scan_join text-center">
                <h5 class="mt-2"> {{'Featured resturants' | translate}} </h5>
                <p class="dark_color">
                    {{'Browse the featured and varied restaurants around you' | translate}}
                </p>

                <a href="#"><span><i class="flaticon-left-arrow"></i></span> {{'Browse resturants' | translate}} </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6" *ngFor="let resturant of resturants">
                <div class="featured_item">
                    <a [routerLink]="['/resturant/details']">
                        <img *ngIf="resturant.image"
                            [src]="imageBaseURL + '/' + resturant.image?.for + '/' + resturant.image?.name "
                            [alt]="resturant.image?.alt" [title]="resturant.image?.description">
                        <img *ngIf="!resturant.image" src="https://dummyimage.com/200x200/f0f0f0/f0f0f0">
                    </a>
                    <h5 class="mt-2"> {{resturant.name}} </h5>
                    <p> {{ resturant.subtitle }} </p>
                    <span> <img src="./assets/imgs/products/Location.svg">
                        {{ resturant.Governorate?.name }}, {{ resturant.city?.name }} </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="have_caffee">
    <img class="corners" src="./assets/imgs/corners.svg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="image">
                    <img src="./assets/imgs/have_caffe.svg" alt="Do you have a caffee or resturant">
                </div>
                <div class="content ptb-15">
                    <div class="title">
                        <h5> {{'Do you have a resturant or a caffe?' | translate}} </h5>
                    </div>
                    <p class="ptb-15">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                </div>

                <!-- <div class="scan_join">
                    <a class="bg_main_color" href="#"><span><i class="flaticon-plus"></i></span> Join with us </a>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="why_choose_us ptb-40">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h5> {{'Why choose Brodone?' | translate}} </h5>
                    <p>
                        {{ 'What makes Broden the perfect choice for ordering food?' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/fast-food.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> {{'All restaurants around you' | translate}} </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/surface1.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> {{'Stable service' | translate}} </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/insurance.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> {{'Security in payment' | translate}} </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>