<section class="home">
    <div class="main_slider">
        <div class="swiper-container" [swiper]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="caption">
                        <h5 class="mt-2" class="main_color"> Scan code and order now </h5>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                    <img src="./assets/imgs/slide1.svg" alt="slide image">
                </div>
                <div class="swiper-slide">
                    <div class="overlay"></div>
                    <div class="caption">
                        <h5 class="mt-2" class="main_color"> Scan code and order now </h5>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                    <img src="./assets/imgs/slide1.svg" alt="slide image">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="featured_resturant ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-12 scan_join text-center">
                <h5 class="mt-2"> Featured resturants </h5>
                <p>
                    Browse the featured and varied restaurants around you
                </p>

                <a href="#"><span><i class="flaticon-left-arrow"></i></span> Browse resturants </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="featured_item">
                    <img src="./assets/imgs/products/Albaik_logo.svg">
                    <h5> Albaik resturant </h5>
                    <p> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
                    <span> <img src="./assets/imgs/products/Location.svg"> الرياض , حي الروضة </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="featured_item">
                    <img src="./assets/imgs/products/burger.svg">
                    <h5> مطعم برجر كينج </h5>
                    <p> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
                    <span> <img src="./assets/imgs/products/Location.svg"> الرياض , حي الروضة </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="featured_item">
                    <img src="./assets/imgs/products/afandena.svg">
                    <h5> مطعم أفندينا </h5>
                    <p> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
                    <span> <img src="./assets/imgs/products/Location.svg"> الرياض , حي الروضة </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="featured_item">
                    <img src="./assets/imgs/products/drop.svg">
                    <h5> مطعم دروب الشام </h5>
                    <p> مطعم وجبات سريعة , فرايد شيكن , وجبات فراخ </p>
                    <span> <img src="./assets/imgs/products/Location.svg"> الرياض , حي الروضة </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="have_caffee">
    <img class="corners" src="./assets/imgs/corners.svg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="image">
                    <img src="./assets/imgs/have_caffe.svg" alt="Do you have a caffee or resturant">
                </div>
                <div class="content ptb-15">
                    <div class="title">
                        <h5> Do you have a resturant or a caffe? </h5>
                    </div>
                    <p class="ptb-15">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                </div>

                <div class="scan_join">
                    <a class="bg_main_color" href="#"><span><i class="flaticon-plus"></i></span> Join with us </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why_choose_us ptb-40">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h5> Why choose brodone </h5>
                    <p>
                        ما يجعلك تجعل برودن هو خيارك الأمثل لطلب الطعام
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/fast-food.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> كل المطاعم حولك </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/surface1.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> خدمة ذات استقرار </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div class="choose_item">
                    <div class="image">
                        <img src="./assets/imgs/insurance.svg">
                    </div>
                    <div class="content ptb-15">
                        <h5> الأمان في الدفع </h5>
                        <p> هذا نص تجريبي لاختبار شكل و حجم النصوص و طريقة عرضها </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>