<section class="about-us ptb-40">
    <div class="container">
        <div class="text-center ptb-15">
            <h5> {{'About Brodone' | translate}} </h5>
        </div>
        <div class="col-sm-6">
            <img src="./assets/imgs/about-us.png">
        </div>
        <div class="col-sm-6 text-center">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</section>