<section class="about-us ptb-40">
    <div class="container">
        <div class="text-center ptb-15">
            <h5> {{'About Brodone' | translate}} </h5>
        </div>
        <div class="col-sm-6">
            <img src="./assets/imgs/about-us.png">
        </div>
        <div class="col-sm-6 text-center">
            <p *ngIf="transalte.currentLang == 'ar'" [innerHtml]="settings.about"></p>
            <p *ngIf="transalte.currentLang == 'en'" [innerHtml]="settings.aboutEn"></p>
        </div>
    </div>
</section>