<div class="breadcrum_bg"></div>

<div class="orders">
    <div class="container">
        <fieldset>
            <div class="ptb-15 text-center">
                <h5> {{'Order history' | translate}} </h5>
                <p class="dark_color"> </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <tabset>
                        <tab [heading]="'Current orders' | translate" id="tab1">
                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : 16464648 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : 250 {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of meals' | translate}} </strong>
                                            <span> : 2 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{'Preparing' | translate}} </span>
                                        </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        {{'Order details' | translate | translate}} </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : 16464648 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : 250 {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of meals' | translate}} </strong>
                                            <span> : 2 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{'Preparing' | translate}} </span>
                                        </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        {{'Order details' | translate}} </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : 16464648 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : 250 {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of meals' | translate}} </strong>
                                            <span> : 2 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{'Preparing' | translate}} </span>
                                        </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        {{'Order details' | translate}} </a>
                                </div>
                            </div>
                        </tab>
                        <tab [heading]="'Previous orders' | translate">
                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : 16464648 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : 250 {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of meals' | translate}} </strong>
                                            <span> : 2 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{'Preparing' | translate}} </span>
                                        </li>
                                        <li> <strong> {{'Order date' | translate}} </strong> <span> : 12/3/2021 </span>
                                        </li>
                                    </ul>

                                    <div class="form-group text-center">
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                    </div>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        {{'Order details' | translate}} </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : 16464648 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : 250 {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of meals' | translate}} </strong>
                                            <span> : 2 </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{'Preparing' | translate}} </span>
                                        </li>
                                        <li> <strong> {{'Order date' | translate}} </strong> <span> : 12/3/2021 </span>
                                        </li>
                                    </ul>

                                    <div class="form-group text-center">
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                    </div>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        {{'Order details' | translate}} </a>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </fieldset>
    </div>
</div>