<div class="breadcrum_bg"></div>

<div class="orders">
    <div class="container">
        <fieldset>
            <div class="ptb-15 text-center">
                <h5> {{'Order history' | translate}} </h5>
                <p class="dark_color"> </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <tabset>
                        <tab [heading]="'Current orders' | translate" id="tab1">
                            <div class="order_item d-flex mt-4" *ngFor="let order of currentOrders | paginate: { itemsPerPage: 10, currentPage: page, id: 'first' }">
                                <!-- <a href="javascript:void(0)" (click)="payOnline(order.id)"
                                    *ngIf="order.status != 'paid'" class="pay-order" [title]="'Pay now' | translate"> <i
                                        class="flaticon-finance"></i>
                                </a> -->
                                <div class=" image">
                                    <img *ngIf="!order.resturant?.image" src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                                    <img *ngIf="order.resturant?.image" [src]="ImageBaseUrl + '/' + order.for + '/' + order.name">
                                </div>
                                <div>
                                    <h5> {{order.resturant?.name}} </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : {{order.id}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : {{order.total_price}} {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of products' | translate}} </strong>
                                            <span> : {{order.total_items}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{ order.status | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Payment status' | translate}} </strong>
                                            <span> : {{ order.paymentStatus | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Payment method' | translate}} </strong>
                                            <span> : {{ order.payment?.name | translate}} </span>
                                        </li>
                                    </ul>

                                    <a class="order_details" [routerLink]="['/order/tracking/' + order.id]"> <span> <i
                                                class="flaticon-left-arrow"></i>
                                        </span> {{'Order details' | translate | translate}} </a>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <pagination-controls *ngIf="counter > 10" id="first" (pageChange)="loadMore($event, 'current')" previousLabel="" nextLabel="">
                                </pagination-controls>
                            </div>
                        </tab>
                        <tab [heading]="'Previous orders' | translate">
                            <div class="order_item d-flex mt-4" *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: pPage, id: 'second' }">
                                <div class=" image">
                                    <img *ngIf="!order.resturant?.image" src="https://dummyimage.com/200x200/f5f5f5/f5f5f5">
                                    <img *ngIf="order.resturant?.image" [src]="ImageBaseUrl + '/' + order.for + '/' + order.name">
                                </div>
                                <div>
                                    <h5> {{order.resturant?.name}} </h5>

                                    <ul class="order_info">
                                        <li>
                                            <strong> {{'Order number' | translate}} </strong>
                                            <span> : {{order.id}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order price' | translate}} </strong>
                                            <span> : {{order.total_price}} {{'SAR' | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'No of products' | translate}} </strong>
                                            <span> : {{order.total_items}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Order status' | translate}} </strong>
                                            <span> : {{ order.status | translate}} </span>
                                        </li>
                                        <li>
                                            <strong> {{'Payment method' | translate}} </strong>
                                            <span> : {{ order.payment?.name | translate}} </span>
                                        </li>
                                    </ul>

                                    <div class="form-group text-center">
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                    </div>

                                    <a class="order_details" [routerLink]="['/order/tracking/' + order.id]"> <span> <i
                                                class="flaticon-left-arrow"></i>
                                        </span> {{'Order details' | translate}} </a>
                                </div>

                                <div class="text-center mt-4">
                                    <pagination-controls *ngIf="pCounter > 10" id="second" (pageChange)="loadMore($event, '')" previousLabel="" nextLabel="">
                                    </pagination-controls>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </fieldset>
    </div>
</div>