<div class="breadcrum_bg"></div>

<div class="orders">
    <div class="container">
        <fieldset>
            <div class="ptb-15 text-center">
                <h5> Order history </h5>
                <p class="dark_color"> سجل الطلبات الخاص بك السابقة والحالية </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <tabset>
                        <tab heading="Current orders" id="tab1">
                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li> <strong> Order number </strong> <span> : 16464648 </span> </li>
                                        <li> <strong> Order price </strong> <span> : 250 SAR </span> </li>
                                        <li> <strong> No of meals </strong> <span> : 2 </span> </li>
                                        <li> <strong> Order status </strong> <span> : preparing </span> </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        تفاصيل الطلب </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li> <strong> Order number </strong> <span> : 16464648 </span> </li>
                                        <li> <strong> Order price </strong> <span> : 250 SAR </span> </li>
                                        <li> <strong> No of meals </strong> <span> : 2 </span> </li>
                                        <li> <strong> Order status </strong> <span> : preparing </span> </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        تفاصيل الطلب </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li> <strong> Order number </strong> <span> : 16464648 </span> </li>
                                        <li> <strong> Order price </strong> <span> : 250 SAR </span> </li>
                                        <li> <strong> No of meals </strong> <span> : 2 </span> </li>
                                        <li> <strong> Order status </strong> <span> : preparing </span> </li>
                                    </ul>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        تفاصيل الطلب </a>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Old orders">
                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li> <strong> Order number </strong> <span> : 16464648 </span> </li>
                                        <li> <strong> Order price </strong> <span> : 250 SAR </span> </li>
                                        <li> <strong> No of meals </strong> <span> : 2 </span> </li>
                                        <li> <strong> Order status </strong> <span> : preparing </span> </li>
                                        <li> <strong> Order date </strong> <span> : 12/3/2021 </span> </li>
                                    </ul>

                                    <div class="form-group text-center">
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                    </div>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        تفاصيل الطلب </a>
                                </div>
                            </div>

                            <div class="order_item d-flex mt-4">
                                <div class="image">
                                    <img src="./assets/imgs/products/Albaik_logo.svg">
                                </div>
                                <div>
                                    <h5> مطعم دجاج البيك </h5>

                                    <ul class="order_info">
                                        <li> <strong> Order number </strong> <span> : 16464648 </span> </li>
                                        <li> <strong> Order price </strong> <span> : 250 SAR </span> </li>
                                        <li> <strong> No of meals </strong> <span> : 2 </span> </li>
                                        <li> <strong> Order status </strong> <span> : preparing </span> </li>
                                        <li> <strong> Order date </strong> <span> : 12/3/2021 </span> </li>
                                    </ul>

                                    <div class="form-group text-center">
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                        <i class="flaticon-star-1"></i>
                                    </div>

                                    <a class="order_details" href="#"> <span> <i class="flaticon-left-arrow"></i>
                                        </span>
                                        تفاصيل الطلب </a>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </fieldset>
    </div>
</div>