<section class="not-found ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <span> 4 </span> <img src="./assets/imgs/404.png"> <span> 4 </span>
                </div>
                <div class="text-center ptb-15">
                    <p> {{'OOPS, PAGE NOT FOUND !' | translate}} </p>
                    <a [routerLink]="['/']" class="btn myBtn secondry"> {{'Home' | translate}} </a>
                </div>
            </div>
        </div>
    </div>
</section>