/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
/* Main style */
$main_color: #fedc01;
$second_color: #000000;
img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: $second_color;
}

a:hover {
  color: $second_color;
  text-decoration: none;
}

i {
  line-height: 0;
}

.breadcrum_bg {
  background-image: url("./assets/imgs/breadcrumb_bg_large.png");
  height: 200px;
  background-position: center center;
}

.dark_color {
  color: #c4c4c4;
}

.form_container {
  max-height: 540px;
}

.form_container fieldset {
  box-shadow: 0 0 10px #999999;
  border-radius: 30px;
  padding: 20px;
  background: #ffffff;
  transform: translateY(-140px);
}

.form_container .form-group,
.modal-body .form-group {
  position: relative;
}

.form_container .form-group .form-control,
.modal-body .form-control {
  padding-left: 40px;
  min-height: 50px;
  border-radius: 30px;
  background: #f1f1f1;
}

.form_container .form-group i,
.modal-body .form-group i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

.myBtn {
  border-radius: 30px;
  background: $main_color;
  color: $second_color;
  min-width: 150px;
  min-height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.myBtn.secondry {
  color: $main_color !important;
  background: $second_color;
}

.myBtn.dark {
  background: $second_color;
  color: $main_color;
  padding: 10px 25px;
}
// ,
// .signup .form_container
.login .form_container {
  max-height: 335px;
}

.confirm-code .form_container {
  max-height: 150px;
}

.create-password .form_container {
  max-height: 345px;
}

.reset-password .form_container {
  max-height: 160px;
}

.profile .form_container {
  // max-height: 360px;
}

.modal-header {
  border: none;
}

.modal-content {
  border-radius: 30px;
}

.modal-header .close {
  outline: none;
}

.modal-header .close i::before {
  font-size: 18px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $main_color;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(254 220 1 / 40%);
}

.main_color {
  color: $main_color;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  // background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    black
  );
  border-radius: 30px;
}

.ptb-40 {
  padding: 40px 0;
}

.ptb-15 {
  padding: 15px 0;
}

.ptb-20 {
  padding: 20px 0;
}

.bg_main_color {
  background: $main_color !important;
  color: $second_color !important;
}

.bg_main_color span,
.bg_main_color em {
  background: #efd005 !important;
}

.modal-body.arabicStyle {
  direction: rtl;
}

.modal-body.arabicStyl .form-group .form-control,
.modal-body.arabicStyle .form-control {
  padding-left: 0.75rem;
  padding-right: 40px;
}

.modal-body.arabicStyl .form-group i,
.modal-body.arabicStyle .form-group i {
  left: auto;
  right: 10px;
}

.modal-body.arabicStyle.rate .form-control {
  padding-right: 0.75rem;
}

canvas {
  width: 320px !important;
  height: 480px !important;
}
/* End of main style */

/* Start header component */

header {
  padding: 5px;
}

header .logo_img a:first-child img {
  margin-right: 15px;
  transform: scaleX(-1);
}

header ul {
  margin: 0;
}

header .cart_account li,
footer ul li {
  display: inline-block;
  margin-left: 10px;
}

header .cart_account li:first-child {
  margin-left: 0;
}

header .cart_account li a,
footer ul li a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .cart_account li a span {
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4e50;
  border-radius: 50%;
  top: -5px;
  left: -10px;
}

header .cart_account li:first-child a {
  border-color: $main_color;
  background: $main_color;
}

.scan_join {
  padding: 15px 0;
}

.scan_join a {
  display: inline-flex;
  align-items: center;
  background: #000;
  color: #fff;
  /* padding: 10px 20px; */
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  width: 170px;
  height: 50px;
  justify-content: center;
  position: relative;
  padding-left: 50px;
}

.scan_join span,
.scan_join em {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 50px;
  background: #1d1c1c;
  border-radius: 30px 5px 30px 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan_join .header_link:first-child {
  margin-right: 15px;
}

.scan_join .header_link:first-child a {
  background: $main_color;
  color: $second_color;
}

.scan_join .header_link:first-child span {
  background: #efd005;
}

.dropdown-menu.show li,
.dropdown-menu.show li a.dropdown-item {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  margin: 0 !important;
  padding: 0;
}

.dropdown-menu.show li a.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-menu.show li i::before {
  color: $main_color;
  margin-right: 5px;
}

.dropdown-menu.show {
  min-width: 210px;
  border-radius: 15px;
  right: 0 !important;
  left: auto !important;
}
/* End header component */

/* Start footer component */

footer {
  padding: 40px 0;
  padding-bottom: 70px;
}

footer ul li:hover a {
  background: $main_color;
  border-color: $main_color;
}

/* End footer component */

/* Start sidebar component */

.sidebar {
  position: fixed;
  left: -400px;
  background: #ffffff;
  height: 100%;
  top: 0;
  width: 260px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px #ddd;
}

.sidebar-open {
  left: 0;
}

.sidebar-header {
  padding: 15px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header a:hover {
  color: $main_color;
}

.sidebar-header .flaticon-cancel::before {
  font-size: 19px;
}

.sidebar ul li {
  margin-top: 10px;
}

.sidebar ul li.active a,
.sidebar ul li:hover a {
  color: $second_color;
}

.sidebar h6 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 1;
  color: #000000;
}

.sidebar .social-links li {
  margin-top: 0;
}

.sidebar .social-links i::before {
  font-size: 22px;
}

.sidebar .form-container .form-group {
  position: relative;
}

.sidebar .form-container .form-group .form-control {
  padding-left: 40px;
  border-radius: 30px;
  border-color: $main_color;
  min-height: 45px;
}

.sidebar .form-container .form-group button {
  position: absolute;
  border: none;
  background: transparent;
  top: 7px;
  left: 0;
  border-right: 1px solid #999;
}

.sidebar .language ul {
  display: flex;
  justify-content: space-around;
}

.sidebar .language li {
  display: inline-block;
  margin-top: 0;
}

.sidebar .language li.active a {
  color: #ffc107;
}

.sidebar .my_circle {
  position: absolute;
  bottom: 0;
  width: 100px;
}
/* End sidebar component */

/* Start home component */

.main_slider .swiper-slide img {
  width: 100%;
  border-radius: 30px;
}

.main_slider .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}

.main_slider .swiper-pagination-bullet-active {
  background: $main_color;
}

.main_slider .caption {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0 20px;
  z-index: 2;
  color: #ffffff;
  width: 100%;
}

.featured_resturant .scan_join {
  padding: 15px;
}

.featured_resturant .scan_join a {
  background: $main_color;
  width: 200px;
  color: $second_color;
}

.featured_resturant .scan_join span {
  background: #efd005;
}

.featured_item {
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px #dddddd;
  border-radius: 30px;
  margin-bottom: 20px;
}

.featured_item img {
  max-width: 180px;
}

.featured_item p {
  color: #c4c4c4;
  margin-bottom: .5rem;
}

.featured_item span {
  min-width: 170px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 30px;
}

.title {
  padding: 0 60px;
}

.have_caffee {
  position: relative;
  overflow: hidden;
  min-height: 646px;
  display: flex;
  align-items: center;
  background: #f9f9f9;
}

.have_caffee .corners {
  position: absolute;
}

.why_choose_us {
  background-image: url("assets/imgs/why_choose_us.svg");
  position: relative;
  color: #ffffff;
}

.why_choose_us .overlay {
  border-radius: 0;
  top: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* End home component */

/* Start resturant details component */

.resturant {
  margin-top: 20px;
}

.resturant .cart_details {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #f1f1f1;
  z-index: 2;
  padding: 15px;
}

.resturant .cart_details a {
  background: $main_color;
  padding: 15px;
  border-radius: 30px;
}

.form_container.res_info {
  max-height: 160px;
}

.form_container.res_info .featured_item {
  padding: 0;
  box-shadow: none;
}

.filter label {
  padding: 8px;
  border-radius: 30px;
  border: 1px solid #999;
  text-align: center;
  width: 100%;
}

.filter input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.filter input[type="radio"]:checked ~ label {
  background: $main_color;
  color: $second_color;
  border-color: $main_color;
}

.resturant .featured_item {
  padding: 15px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.resturant .featured_item .image,
.one_item .image {
  position: relative;
  width: 100px;
  height: 100px;
}

.resturant .featured_item .image,
.resturant .featured_item .image img,
.one_item .image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.resturant .featured_item .image a,
.cart_item .image span,
.one_item .image a {
  position: absolute;
  width: 50px;
  height: 50px;
  background: $main_color;
  color: $second_color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resturant .featured_item .image a,
.one_item .image a {
  width: 40px;
  height: 40px;
}

.quantity form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity form em {
  width: 25%;
  background: $second_color;
  color: $main_color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity form input {
  width: 50%;
  text-align: center;
}

.quantity form em,
.quantity form input {
  min-height: 45px;
  font-size: 20px;
  font-weight: bold;
}

.quantity form em:first-child {
  border-radius: 0 0 0 30px;
}

.quantity form em:last-child {
  border-radius: 0 0 30px 0;
}

.quantity {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.filter_items a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  margin-right: 5px;
  border-radius: 50%;
}

.filter_items a.active {
  background: $main_color;
}

.one_item {
  box-shadow: 0 0 10px #ddd;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  padding-right: 40px;
}

.one_item .image {
  margin-right: 5px;
}

.one_item p {
  margin: 0;
}

.one_item .scan_join a {
  height: 45px;
}

.one_item .scan_join em {
  width: 45px;
  height: 45px;
}

.one_item .quantity {
  right: 0;
  left: auto;
  top: 0;
  max-width: 40px;
}

.one_item .quantity form {
  flex-flow: column;
  height: 100%;
}

.one_item .quantity form em,
.one_item .quantity form input {
  width: 100%;
}

.one_item .quantity form em {
  height: 25%;
}

.one_item .quantity form input {
  height: 50%;
  padding: 0;
}

.one_item .quantity form em:first-child {
  border-radius: 0 30px 0 0;
}

.flaticon-rectangles-couple:before {
  font-weight: bold !important;
}

/* End resturant details component */

/* Start cart modal component */

.cart_item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.cart_item:last-child {
  border-bottom: 0;
}

.cart_item .image,
.cart_item .image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.cart_item .image {
  margin-right: 10px;
}

.cart_item .quantity,
.meal .quantity {
  position: static;
  max-width: 155px;
}

.cart_item .quantity form em:first-child,
.meal .quantity form em:first-child {
  border-radius: 30px 0 0 30px;
  width: 30%;
}

.cart_item .quantity form em:last-child,
.meal .quantity form em:last-child {
  border-radius: 0 30px 30px 0;
  width: 30%;
}

.cart_item .form-control,
.meal .quantity .form-control {
  border-radius: 0;
  min-height: 45px;
  padding: 5px;
  width: 40%;
}

.cart_remove {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8393b;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.cart_remove i::before {
  font-size: 20px;
}

.cart_item .image span {
  width: 40px;
  height: 40px;
}

.cart_price {
  background: #f9f9f9;
}

.cart_price .myBtn,
.table_modal .myBtn {
  width: 49%;
  padding: 14px;
}

.arabicStyle .cart_remove {
  left: 0;
  right: auto;
}

.arabicStyle .cart_item .quantity form em:last-child {
  border-radius: 30px 0 0 30px;
}

.arabicStyle .cart_item .quantity form em:first-child {
  border-radius: 0 30px 30px 0;
}

.arabicStyle .cart_item {
  text-align: right;
}

.arabicStyle .cart_item .image {
  margin-right: 0;
  margin-left: 10px;
}

.arabicStyle.modal-body .cart_item .form-control {
  padding: 0 0.75rem;
}

.arabicStyle.cart .table td,
.arabicStyle.cart .table th {
  text-align: right;
}

.empty_cart {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty_cart p {
  font-size: 20px;
}
/* End cart modal component */

/* Start table modal component */

.table_modal .breadcrum_bg {
  border-radius: 30px 30px 0 0;
}

.table_modal .close {
  width: 45px;
  height: 45px;
  opacity: 1;
}

.table_no .table_image,
.table_modal .modal-body,
.table_modal .image,
.table_no {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_modal .modal-body {
  flex-flow: column;
  padding-top: 95px;
}

.table_modal .content {
  width: 100%;
}

.table_modal .image {
  width: 180px;
  height: 180px;
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 30px;
  position: absolute;
  top: -110px;
}

.table_modal .image img {
  width: 180px;
  height: 180px;
  border-radius: 30px;
}

.table_no {
  border: 2px solid #fedc01;
  border-radius: 20px;
  position: relative;
  padding-left: 70px;
  min-height: 72px;
  // flex-flow: column;
  justify-content: space-around;
}

.table_no .table_image {
  position: absolute;
  left: 0;
  min-height: 70px;
  min-width: 70px;
  background: #fedc01;
  border-radius: 17px 0 0 17px;
  border: 2px solid #fedc01;
}

.arabicStyle,
.arabicStyl {
  font-family: "Almarai", sans-serif;
  direction: rtl;
}

.arabicStyle .form-group,
.arabicStyl .form-group {
  text-align: right;
}

.table_modal.arabicStyle .table_no {
  padding-right: 70px;
  padding-left: 0;
}

.table_modal.arabicStyle .table_no .table_image {
  right: 0;
  left: auto;
  border-radius: 0 17px 17px 0;
}
/* End table modal component */

/* Start meal component */

.price_calories span {
  padding: 10px 20px;
  width: 49%;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid transparent;
}

.price_calories span.price {
  background: $main_color;
}

.price_calories span.calory {
  border-color: $second_color;
}

.meal .quantity {
  max-width: 250px;
}

.meal .myBtn {
  border: none;
  width: 100%;
}
/* End meal component */

/* Start order-tracking component */

.order_info li {
  position: relative;
  padding-left: 120px;
  margin-top: 8px;
}

.order_info li strong {
  position: absolute;
  left: 0;
}

.btn_group .myBtn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_group .myBtn i,
.btn_group .myBtn img {
  margin-right: 5px;
}

.order_status li {
  margin-top: 30px;
  position: relative;
}

.order_status li::after {
  content: "";
  height: 60px;
  width: 4px;
  background: #dadada;
  position: absolute;
  left: 25px;
  bottom: -40px;
  z-index: 1;
}

.order_status li:last-child::after {
  display: none;
}

.order_status li,
.order_status li span,
.order_status li a {
  display: flex;
  align-items: center;
}

.order_status li span,
.order_status li a {
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  border-radius: 50%;
  justify-content: center;
  margin-right: 15px;
  z-index: 2;
}

.order_status li span i::before {
  color: #797979;
}

.order_status li.active span {
  background: $main_color;
}

.order_status li.active span i::before {
  color: $second_color;
}

.order_status li a {
  margin: 0;
  position: absolute;
  right: 0;
  background: $main_color;
}

.track_order fieldset {
  position: relative;
  top: -110px;
  background: #fff;
  border-radius: 30px;
  padding: 10px;
  max-height: 720px;
}

.my_meals .cart_item {
  border-top: 2px solid #dbdbdb;
  padding-top: 10px;
}

.rate_form .form-control {
  padding: 0.375rem 0.75rem;
  border-radius: 20px;
}

.rate_form .myBtn {
  width: 100%;
  border: none;
}

.modal-body .rate_form .form-group i {
  position: static;
}
/* End order-tracking component */

/* Start all orders component */

.orders .nav-tabs {
  border: none;
  text-align: center;
}

.orders .nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #c8c4c4;
  color: #c4c4c4;
}

.orders .nav-tabs .nav-item.show .nav-link,
.orders .nav-tabs .nav-link.active {
  border-color: $main_color;
  color: $second_color;
  font-weight: bold;
}

.orders .nav-tabs .nav-item {
  width: 50%;
}

.order_item {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.order_item .image {
  margin-right: 15px;
}

.order_item .image,
.order_item .image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.order_details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.order_details span {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: 1px solid $main_color;
  border-radius: 5px;
}

.order_details span i::before {
  color: $main_color;
}

.orders .flaticon-star-1:nth-child(1),
.orders .flaticon-star-1:nth-child(2) {
  color: $main_color;
}

.orders fieldset {
  position: relative;
  top: -110px;
  background: #fff;
  border-radius: 30px;
}
/* End all orders component */

/* Start checkout component */

.checkout_item {
  display: inline-block;
  margin-right: 10px;
  width: 20%;
}

.checkout_item img {
  display: block;
  width: 50px;
  height: 50px;
}

.checkout_item input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.checkout_item label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.checkout_item input[type="radio"]:checked ~ label {
  background: #fedc01;
  border-radius: 7px;
  padding: 5px;
}

.checkout .form-control {
  min-height: 45px;
  border-radius: 30px;
  background: #f1f1f1;
}
/* End checkout component */
