/* You can add global styles to this file, and also import other style files */
/* Main style */
$main_color: #fedc01;
$second_color: #000000;
img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: $second_color;
}

a:hover {
  color: $second_color;
  text-decoration: none;
}

i {
  line-height: 0;
}

.breadcrum_bg {
  background-image: url("./assets/imgs/breadcrumb_bg_large.png");
  height: 200px;
  background-position: center center;
}

.dark_color {
  color: #c4c4c4;
}

.form_container {
  max-height: 540px;
}

.form_container fieldset {
  box-shadow: 0 0 10px #999999;
  border-radius: 30px;
  padding: 20px;
  background: #ffffff;
  transform: translateY(-140px);
}

.form_container .form-group,
.modal-body .form-group {
  position: relative;
}

.form_container .form-group .form-control,
.modal-body .form-control {
  padding-left: 40px;
  min-height: 50px;
  border-radius: 30px;
  background: #f1f1f1;
}

.form_container .form-group i,
.modal-body .form-group i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

.myBtn {
  border-radius: 30px;
  background: $main_color;
  color: $second_color;
  min-width: 150px;
}

.myBtn.secondry {
  color: $main_color;
  background: $second_color;
}

.login .form_container {
  max-height: 320px;
}

.modal-header {
  border: none;
}

.modal-content {
  border-radius: 30px;
}

.modal-header .close {
  outline: none;
}
/* End of main style */

/* Start header component */

header {
  padding: 5px;
}

header .logo_img a:first-child img {
  margin-right: 15px;
  transform: scaleX(-1);
}

header ul {
  margin: 0;
}

header .cart_account li,
footer ul li {
  display: inline-block;
  margin-left: 10px;
}

header .cart_account li:first-child {
  margin-left: 0;
}

header .cart_account li a,
footer ul li a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .cart_account li a span {
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4e50;
  border-radius: 50%;
  top: -5px;
  left: -10px;
}

header .cart_account li:first-child a {
  border-color: $main_color;
  background: $main_color;
}

.scan_join {
  padding: 15px 0;
}

.scan_join a {
  display: inline-flex;
  align-items: center;
  background: #000;
  color: #fff;
  /* padding: 10px 20px; */
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  width: 170px;
  height: 50px;
  justify-content: center;
  position: relative;
  padding-left: 50px;
}

.scan_join span {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 50px;
  background: #1d1c1c;
  border-radius: 30px 5px 30px 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan_join .header_link:first-child {
  margin-right: 15px;
}

.scan_join .header_link:first-child a {
  background: $main_color;
  color: $second_color;
}

.scan_join .header_link:first-child span {
  background: #efd005;
}
/* End header component */

/* Start footer component */

footer {
  padding: 40px 0;
}

footer ul li:hover a {
  background: $main_color;
  border-color: $main_color;
}

/* End footer component */

/* Start sidebar component */

.sidebar {
  position: fixed;
  left: -400px;
  background: #ffffff;
  height: 100%;
  top: 0;
  width: 260px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px #ddd;
}

.sidebar-open {
  left: 0;
}

.sidebar-header {
  padding: 15px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header a:hover {
  color: $main_color;
}

.sidebar-header .flaticon-cancel::before {
  font-size: 19px;
}

.sidebar ul li {
  margin-top: 10px;
}

.sidebar ul li.active a,
.sidebar ul li:hover a {
  color: $second_color;
}

.sidebar h6 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 1;
  color: #000000;
}

.sidebar .social-links li {
  margin-top: 0;
}

.sidebar .social-links i::before {
  font-size: 22px;
}

.sidebar .form-container .form-group {
  position: relative;
}

.sidebar .form-container .form-group .form-control {
  padding-left: 40px;
  border-radius: 30px;
  border-color: $main_color;
  min-height: 45px;
}

.sidebar .form-container .form-group button {
  position: absolute;
  border: none;
  background: transparent;
  top: 7px;
  left: 0;
  border-right: 1px solid #999;
}

.sidebar .language ul {
  display: flex;
  justify-content: space-around;
}

.sidebar .language li {
  display: inline-block;
  margin-top: 0;
}

.sidebar .language li.active a {
  color: #ffc107;
}

.sidebar .my_circle {
  position: absolute;
  bottom: 0;
  width: 100px;
}
/* End sidebar component */
